<html>
<head>
	<title>Welcome Home</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<div id='page_content'>
		<h2>Create a New Category</h2>
		
		<form action='/' method='POST'>
			<label>Name: <input type='text' name='name' placeholder='Category Name'></label>
			<label>Description: <input type='text' name='description' placeholder='Short Description'></label>
			<button>Create</button>
		</form>

		<h2>Popular Posts</h2>

		
			<% posts.each do |post| %>
			<div id='posts'><%= post.title %></div>
			<% end %>
			<%= will_paginate posts %>
			
	</div id='page_content'>

	<div id='sidebar'>
		<h1>Welcome</h1>
		<h3>Browse Categories:</h3>
		<ul>
		<% categories.each do |category| %>
			<li><a href='/category/<%= category.name %>'><%= category.name %></a></li>
			<% end %>
		</ul>
	</div id='sidebar'>



</body>
</html>