<html>
<head>
	<title>New Post</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
</head>
<body>

	<div id='page_content'>
		<h3>Add a New Post for <%= category.name %></h3>
		
		<form action='/category/<%= category.name %>/post/new' method="POST">
			<label>Title: <input type='text' name='title' placeholder='Title'></label>
			<label>Content: <input type='text' name='content' placeholder='Your Thoughts...'></label>
			<label>Image URL: <input type='text' name='url' placeholder='Insert Image URl'></lable>	
			<label>Author: <input type='text' name='author' placeholder='Your Name'></label>
			<label>Post Expiration? <input type='checkbox' name='expiration' value='true'></label>
			<button>Submit</button>
		</form> 
	</div id='page_content'>	

	<div id='sidebar'>
		<h1><a href='/'>Welcome</a></h1>
		<h3>Browse Categories:</h3>
		<ul>
		<% categories.each do |category| %>
			<li><a href='/category/<%= category.name %>'><%= category.name %></a></li>
			<% end %>
		</ul>
	</div>



</body>
</html>