<html>
<head>
	<title>New Post</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>

	<div id='page_content'>
		<h2>Add a New Post for <p style="color:red;"><%= category.name %></p></h2>
		
		<div id='postForm'>
		<form action='/category/<%= category.name %>/post/new' method="POST">
			<label>Title: <input type='text' name='title' placeholder='Title'></label>
			<label>Author: <input type='text' name='author' placeholder='Your Name'></label>
			<br><textarea rows= '10' cols='50' wrap='virtual' type='text' name='content' placeholder='Your Thoughts...'></textarea>
			<br><label>Image URL: <input type='text' name='url' placeholder='Insert Image URl'></lable>	
			<br><label>Post Expiration: <select name='expiration'>
				<option value='0'>none</option>
				<option value='259200'>3 days</option>
				<option value='604800'>1 week</option>
				<option value='2592000'>30 days</option>
			</select>
			<button>Submit</button>
		</form>
		</div id='postForm'> 
	</div id='page_content'>	

	<div id='sidebar'>
		<h1><a href='/'>welcome <br>home</a></h1>
		<h3>Browse Categories:</h3>
		<ul>
		<% categories.each do |category| %>
			<li><a href='/category/<%= category.name %>'><%= category.name %></a></li>
			<% end %>
		</ul>
	</div>



</body>
</html>