<html>
<head>
	<title>New Post</title>
</head>
<body>
	
	<h3>Add a New Post</h3>
	
	<form action='/category/<%= category.name %>/post/new' method="POST">
		<label>Title: <input type='text' name='title' placeholder='Title'></label>
		<label>Content: <input type='text' name='content' placeholder='Your Thoughts...'></label>
		<label>Image URL: <input type='text' name='url' placeholder='Insert Image URl'></lable>	
		<label>Author: <input type='text' name='author' placeholder='Your Name'></label>
		<label>Post Expiration? <input type='checkbox' name='expiration' value='true'></label>
		<button>Submit</button>
	</form> 	




</body>
</html>