li{
	display:inline;
	padding: 10px;
	text-decoration: none;
}

h1{
	text-align: center;
	font-family: 'Fugaz One', cursive;
}

h2, h3{
	text-align: center;
	font-family: 'Play', sans-serif;
}

h4{
	text-align: left;
	font-family: 'Play', sans-serif;
}


p {
	font-family: 'Lora', serif;
}

body{
	width:1150px;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color:black;
}

label{
	font-family: 'Lora', serif;
}


#posts{
	background-color: #F5F5F5;
	height: 35px;
	width: 100%;
	margin-bottom: 5px;
	font-family: 'Lora', serif;
	padding-top:15px;
	padding-left: 10px;
}

#vote input, form, p{
	padding:0;
	margin:0;
	display:inline;
}

#vote{
	text-align: center;
}

#newPost{
	background-color: #F5F5F5;
}


#sidebar{
	width:250px;
	height: 100%;
	float:left;
}

#sidebar li a{
	color: red;
	font-family: 'Lora', serif;
	font-weight: bold;
}

#page_content{
	float:right;
	padding-top: 30px;
	width:800px;
	margin:0 auto;
}

#comments{
	background-color: #F5F5F5;
	margin-bottom: 50px;
}

#newCat{
	text-align: center;
}

#postForm{
	text-align: center;
}

#subscribe{
	text-align: center;
}
#subscribe p{
	font-size: 12px;
	font-style: italic;
}